<!doctype html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout-padrao}">

<head></head>

<body>

	<div id="page-wrapper" layout:fragment="content">

		<br /><br />

		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">Crianças</a></li>
			<li class="breadcrumb-item active">Agendamento</li>
		</ol>

		<div class="row">
			<div class="col-md-12">
				<!-- <h3 class="page-header">Cadastro de Crianças</h3> -->
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">Agendamentos</div>
					<div class="panel-body">
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agendaModal">Agendar</button>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Modal -->
		<div class="modal fade" id="agendaModal" tabindex="-1" role="dialog" aria-labelledby="agendaModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
	
					<!-- MODAL HEADER -->
					<div class="modal-header">
						<h3 class="modal-title">Agendamentos</h3>
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					
					<!-- MODAL BODY -->
					<form class="form-horizontal" role="form" th:action="@{/agendas/salvar}" th:object="${schedule}" method="POST">
						<div class="modal-body">
							<!-- Mensagens de erros -->
							<div class="alert  alert-danger alert-dismissible" role="alert" th:if="${#fields.hasAnyErrors()}">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
	
								<div th:each="erro : ${#fields.detailedErrors()}">
									<i class="fa fa-exclamation-circle"></i>
									<span th:text="${erro.message}">Mensagem erro.</span>
								</div>
							</div>
							<!-- Mensagem de sucesso -->
							<div class="alert  alert-success" th:if="${!#strings.isEmpty(mensagem)}">
								<i class="fa fa-check-circle"></i>
								<span th:text="${mensagem}">Mensagem sucesso!</span>
							</div>
							<div class="form-group">
								<label for="children" class="col-md-2">Nome da criança</label>
								<div class="col-md-10">
									<select th:field="*{children.id}" class="form-control ui-autocomplete-input" id="children" style="display: inline;">
										<option value="">-- Selecione o nome da criança--</option>
										<option th:each="c : ${children}" th:value="${c.id}" th:text="${c.name}"></option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="data" class="col-md-1">Data: </label>
								<div class="col-md-3">
									<input class="form-control date" id="date" type="text" th:field="*{date}" placeholder="dd/MM/yyyy" />
								</div>
	
								<label for="hourInitial" class="col-md-1">Hora Início: </label>
								<div class="col-md-3">
									<input class="form-control time" id="hourInitial" type="text" th:field="*{hourInitial}" placeholder="HH:mm" />
								</div>
	
								<label for="hourFinale" class="col-md-1">Hora Fim: </label>
								<div class="col-md-3">
									<input class="form-control time" id="hourFinale" type="text" th:field="*{hourFinale}" placeholder="HH:mm" />
								</div>
							</div>
							<div class="form-group">
								<label for="payment" class="col-md-2">Forma de Pagamento:</label>
								<div class="col-md-4">
									<select class="form-control ui-autocomplete-input" id="payment" style="display: inline;" th:field="*{payment}">
										<option value="">-- Selecione a forma de pagamento --</option>
										<option th:each="payment : ${payments}" th:value="${payment}" th:text="${payment}"></option>
									</select>
								</div>
								<label for="amount" class="col-md-2">Valor:</label>
								<div class="col-md-4">
									<input class="form-control amount" id="amount" type="text" th:field="*{amount}" />
								</div>
							</div>
						</div>
						
						<!-- MODAL FOOTER -->
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
							<button type="submit" class="btn btn-primary">Agendar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>