<!doctype html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout-padrao}">

<head></head>

<body>

    <div id="page-wrapper" layout:fragment="content">
    	<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-8">
						<h3>Lista de agendas</h3>
					</div>
					<div class="col-md-4">
						<div class="page-header-controls">
							<a class="btn btn-primary" th:href="@{/agendas}">
								<i class="fa fa-plus-square"></i>
								<span class="hidden-xs hidden-sm">Agendamentos</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="container-fluid">
			<!-- Mensagem de sucesso -->
			<div class="alert  alert-success" th:if="${!#strings.isEmpty(mensagem)}">
				<i class="fa fa-check-circle"></i>
				<span th:text="${mensagem}">Mensagem sucesso!</span>
			</div>
			
			<div class="table-responsive">
				<table class="table">
					<thead class="thead-light">
						<tr>
							<th scope="col">Código</th>
							<th scope="col">Nome da criança</th>
							<th scope="col">Data</th>
							<th scope="col">Hora início</th>
							<th scope="col">Hora Término</th>
							<th scope="col">Forma de Pagamento</th>
							<th scope="col">Valor</th>
							<th scope="col">Ações</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="s : ${shedule}" th:if="${s.status != FALSE}">
							<th scope="row" th:text="${s.id}"></th>
							<td th:text="${s.childrens.name}"></td>
							<td th:text="${s.date}"></td>
							<td th:text="${s.hourInitial}"></td>
							<td th:text="${s.hourFinale}"></td>
							<td th:text="${s.payment}"></td>
							<td th:text="${s.amount}"></td>
							<td>
								<a th:href="@{/agendas/editar/{id} (id=${p.id})}"><i class="fa fa-pencil fa-fw"></i></a>
								<a th:href="@{/agendas/remover/{id} (id=${p.id})}"><i class="fa fa-close fa-fw"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		    
    </div>
        
</body>
</html>
        