<!doctype html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout-padrao}">

<head></head>

<body>

	<div id="page-wrapper" layout:fragment="content">
		
		<br />

		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">Faturamento</a></li>
		</ol>

		<form>
			<div class="form-row">
				<div class="col-md-4">
					<label>Nome</label>
					<input type="text" class="form-control" id="" placeholder="Nome da criança" />
				</div>
				<div class="col-md-4">
					<label>Data</label>
					<input type="text" class="form-control" id="" placeholder="Data" />
				</div>
				<div class="col-md-4">
					<button type="submit" class="btn btn-primary">Faturar</button>
				</div>
			</div>
		</form>
		
		<div class="clearfix"></div>

	</div>
</body>
</html>