<!doctype html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout-padrao}">
<head>
    <title>Toka da Coruja - Agenda</title>
</head>
<body>
	<div id="page-wrapper" layout:fragment="content">
		
		<br />

		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">Calendário</a></li>
		</ol>
		
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-2">
					<div class="page-header-controls">
						<a class="btn btn-primary" th:href="@{/agendamentos/listar}">
							<i class="fa fa-plus-square"></i>
							<span class="hidden-xs hidden-sm"> Listar agendamentos</span>
						</a>
					</div>
				</div>
				<div class="col-md-8"></div>
				<div class="col-md-2">
					<div class="page-header-controls">
						<a class="btn btn-primary" th:href="@{/agendamentos/agendar}">
							<i class="fa fa-plus-square"></i>
							<span class="hidden-xs hidden-sm"> Agendar criança</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		
		<div id='wrap'>
			<div id='calendar'></div>
		</div>
	</div>
</body>
</html>
