<!doctype html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout-padrao}">

<head></head>

<body>

	<div id="page-wrapper" layout:fragment="content">

		<br />

		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">Crianças</a></li>
			<li class="breadcrumb-item active">Agendamento</li>
		</ol>
		
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-2">
					<div class="page-header-controls">
						<a class="btn btn-primary" th:href="@{/agendamentos/calendario}">
							<i class="fa fa-calendar"></i>
							<span class="hidden-xs hidden-sm"> Calendário</span>
						</a>
					</div>
				</div>
				<div class="col-md-8"></div>
				<div class="col-md-2">						
					<div class="page-header-controls">
						<a class="btn btn-primary" th:href="@{/agendamentos/listar}">
							<i class="fa fa-plus-square"></i>
							<span class="hidden-xs hidden-sm"> Listar agendamentos</span>
						</a>
					</div>
				</div>
			</div>
		</div>

		<form class="form-horizontal" role="form" th:action="@{/agendamentos/salvar}" th:object="${schedule}" method="POST">
    		
    		<th:block th:include="fragments/messageErrorValidation"></th:block>
    		
			<div class="col-md-2">
				<div class="form-group">
					<label>Código</label>
					<input class="form-control" name="id" th:field="*{id}" readonly="readonly" />
				</div>
			</div>
			
			<div class="col-md-12">
				<div class="form-group">
					<label for="children">Nome da criança</label>
					
					<select id="autocompleteCriancas" th:field="*{children.id}" name="children.name" class="form-control" style="display: none;">
						<option value=""></option>
						<option th:each="c : ${childrens}" th:value="${c.id}" th:text="${c.name}"></option>
					</select>
				</div>
			</div>
			
			<label for="date" class="col-md-1">Data: </label>
			<div class="col-md-3">
				<div class="input-group date" data-date-format="dd/mm/yyyy">
					<input type="text" class="form-control dateFormat" id="date" th:field="*{date}" placeholder="dd/mm/yyyy" />
	                <div class="input-group-addon" >
	                	<span class="glyphicon glyphicon-th"></span>
	                </div>
				</div>
			</div>
	
			<label for="hourInitial" class="col-md-1">Hora Início: </label>
			<div class="col-md-3">
				<div class='input-group' id='hourFinale'>
					<input class="form-control time" id="hourInitial" type="time" th:field="*{hourInitial}" placeholder="HH:mm"  min="06:00" max="24:00" />
					<span class="input-group-addon">
	        	        <span class="glyphicon glyphicon-time"></span>
	        	    </span>
              	</div>
			</div>
	
			<label for="hourFinale" class="col-md-1">Hora Fim: </label>
			<div class="col-md-3">
				<div class='form-group input-group' id='hourFinale'>
					<input class="form-control time" id="hourFinale" type="time" th:field="*{hourFinale}" placeholder="HH:mm" min="06:00" max="24:00" />
                   	<span class="input-group-addon">
                       	<span class="glyphicon glyphicon-time"></span>
                   	</span>
               	</div>
			</div>
			<div class="form-group">
				<label for="payment" class="col-md-2">Forma de Pagamento:</label>
				<div class="col-md-4">
					<select th:field="*{payment}" class="form-control ui-autocomplete-input" id="payment" style="display: inline;">
						<option value="">-- Selecione a forma de pagamento --</option>
						<option th:each="payment : ${T(br.com.tokadacoruja.domain.enums.Payment).values()}" th:value="${payment}" th:text="${payment}"></option>
					</select>
				</div>
				<label for="amount" class="col-md-2">Valor:</label>
				<div class="col-md-4">
					<input class="form-control amount" id="amount" type="text" name="amount" th:field="*{amount}"/>
				</div>
			</div>
			<div class="col-md-12 text-right">
				<button type="submit" class="btn btn-primary">Salvar</button>
				<button type="reset" class="btn btn-danger">Cancelar</button>
			</div>
		</form>
		
		<div th:replace="layout/footer::footer"></div>
	</div>
</body>
</html>