body {
	color: #606060;
}

#page-wrapper {
	min-height: 888px;
}

.text-center {
   text-align: center;
   top: 15px;
   position: relative;
}

.icone-home {
	opacity: 0.5;
	display: block;
	margin: 0 auto;
	width: 300px;
	max-width: 100%;
	position: relative;
	top: 100px;
}

.navbar-top-links>li>a {
    color: #79a01b;
}

.navbar-inverse {
    background-color: #fff;
    border-color: #fff;
}

.navbar-inverse .navbar-toggle {
    border-color: #ae659f;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #ad7fa8;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #ae659f;
}

.btn-primary {
    color: #fff;
    background-color: #79a020;
    border-color: #79a020;
}


.navbar-top-links>li>a:hover, .navbar-top-links>li>a:focus, .navbar-top-links>.open>a, .navbar-top-links>.open>a:hover, .navbar-top-links>.open>a:focus {
    color: #ad7fa8;
    background-color: #fff;
}

a {
    color: #79a01f;
    text-decoration: none;
}

a:focus, a:hover {
    color: #6f8e06;
    text-decoration: underline;
}

.navbar-brand>img {
    display: block;
    bottom: 13px;
    position: relative;
    width: 45px;
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #d493c6;
    border-color: #d493c6;
}

#tk{
	position: relative;
    top: 9px;
    font-size: 24px;
    font-family: inherit;
    color: #ae659f;
}

.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:-10rem; /* 10rem is the min-width of dropdown-menu */
    margin-top:-6px;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
}


.modal-header .close {
    margin-top: -25px;
}

.page-header-controls {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 80px;
}

.fc-state-default {
    border-color: #79a020;
    color: #79a020;
}

.fc-state-disabled {
    cursor: default;
    background-image: none;
    background-color: #e5f1cb;
    filter: alpha(opacity=65);
    box-shadow: none;
    border: 1px solid #e5f1cb;
    color: #79a020;
}

.fc-state-down, .fc-state-active {
    background-color: #79a020;
    background-image: none;
    outline: 0;
    color: #ffffff;
}

.fc-state-highlight > div > div.fc-day-number {
    background-color: #ad7fa8;
    color: #FFFFFF;
    border-radius: 50%;
    margin: 4px;
}

.fc-week .fc-day.fc-state-highlight:hover .fc-day-number {
	background-color: #79a020;
}

.fc-week .fc-day > div .fc-day-number {
    font-size: 15px;
    margin: 2px;
    min-width: 32px;
    padding: 6px;
    text-align: center;
}

.mgCalendar {
	position: relative;
    left: 115px;
}

#calendar
{
    width: 700px;
    margin: auto;
}

.breadcrumb {
    padding: 8px 15px;
    /* margin-bottom: 20px; */
    list-style: none;
    background-color: #f0f9dc;
    border-radius: 4px;
}

.headerNav{
	padding: 0 35px 0 0;
	margin: auto;
}












