<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Toka da Coruja - Login</title>
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css">
</head>
<body>

	<div th:replace="layout/layout-padrao :: cabecalho"></div>
	<div class="container">
<!-- 		<p>Olá, seja bem-vindo a toka da coruja!</p> -->
<!-- 		<p th:text="${mensagem}"></p> -->
		
		<div class="wrapper fadeInDown">
		  <div id="formContent">
		    <!-- Tabs Titles -->
		
		    <!-- Icon -->
		    <div class="fadeIn first">
		      <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
		    </div>
		
		    <!-- Login Form -->
		    <form>
		      <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
		      <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
		      <input type="submit" class="fadeIn fourth" value="Log In">
		    </form>
		
		    <!-- Remind Passowrd -->
		    <div id="formFooter">
		      <a class="underlineHover" href="#">Forgot Password?</a>
		    </div>
		
		  </div>
		</div>
	</div>
	<script src="/werbjars/jquery/3.4.1/jquery.min.js"></script>
	<script src="/werbjars/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>