<!doctype html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout-padrao}">

<head></head>

<body>

	<div id="page-wrapper" layout:fragment="content">

		<br /><br />

		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">Pais</a></li>
			<li class="breadcrumb-item active">Cadastro</li>
		</ol>
		
		<div class="page-header">
			<div class="container-fluid headerNav">
				<div class="row">
					<div class="col-md-10"></div>
					<div class="col-md-2">						
						<div class="page-header-controls">
							<a class="btn btn-primary" th:href="@{/criancas/listar}">
								<i class="fa fa-plus-square"></i>
								<span class="hidden-xs hidden-sm"> Listar agendamentos</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<form role="form" th:action="@{/pais/salvar}" method="POST" th:object="${parent}">
			<div class="alert  alert-danger  alert-dismissible" role="alert" th:if="${#fields.hasAnyErrors()}">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>

				<div th:each="erro : ${#fields.detailedErrors()}">
					<i class="fa fa-exclamation-circle"></i>
					<span th:text="${erro.message}">Mensagem erro.</span>
				</div>
			</div>
							
			<div class="alert  alert-success" th:if="${!#strings.isEmpty(mensagem)}">
				<i class="fa fa-check-circle"></i>
				<span th:text="${mensagem}">Mensagem sucesso!</span>
			</div>
						
			<div class="col-md-2">
				<div class="form-group">
					<label>Código</label>
					<input class="form-control" name="id" th:field="*{id}" readonly="readonly"/>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<label>Nome do Responsável</label>
					<input class="form-control" placeholder="Digite o nome do Responsável" type="text" name="name" th:field="*{name}" required="required">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label>CPF</label>
					<input class="form-control cpf" id="cpf" placeholder="Digite o CPF" type="text" name="cpf" th:field="*{cpf}" required="required">
				</div>
			</div>
			<div class="col-md-8">
				<div class="form-group">
					<label>Endereço</label>
					<input class="form-control" placeholder="Rua Exemplo, 123" type="text" name="address" th:field="*{address}" required="required">
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label>Cidade</label>
					<input class="form-control" placeholder="Digite a cidade" type="text" name="city" th:field="*{city}" required="required">
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<label>E-mail</label>
					<input class="form-control" placeholder="email@exemple.com" type="email" name="email" th:field="*{email}" required="required">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label>Telefone</label>
					<input class="form-control telephone" id="telephone" placeholder="Digite o telefone" type="text" name="telephones" th:field="*{telephones}" required="required">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label>Telefone de Emergência</label>
					<input class="form-control telephone" id="telephoneContact" placeholder="Digite o telefone de emergência" type="text" name="telephonesContact" th:field="*{telephonesContact}">
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<label>Responsável Autorizado</label>
					<label class="radio-inline">
						<input class="resposibleOption" type="radio" th:field="*{statusResponsible}" id="optionsRadiosInline1" value="TRUE">Sim
					</label>
					<label class="radio-inline">
						<input class="resposibleOption" type="radio" th:field="*{statusResponsible}" id="optionsRadiosInline2" value="FALSE">Não
					</label>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<label>Nome do responsável</label>
					<input class="form-control" placeholder="Digite o nome do responsável" id="responsible" type="text" name="responsible" th:field="*{responsible}" disabled="disabled">
				</div>
			</div>

			<div class="col-md-12 text-right">
				<button type="submit" class="btn btn-primary">Salvar</button>
				<button type="reset" class="btn btn-danger">Cancelar</button>
			</div>
		</form>
	</div>
</body>
</html>