<!doctype html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout-padrao}">

<head></head>

<body>

	<div id="page-wrapper" layout:fragment="content">

		<br />

		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">Pais</a></li>
			<li class="breadcrumb-item active">Cadastro</li>
		</ol>
		
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-10"></div>
				<div class="col-md-2">						
					<a class="btn btn-primary" th:href="@{/pais/listar}">
						<i class="fa fa-list-alt"></i>
						<span class="hidden-xs hidden-sm"> Listar</span>
					</a>
				</div>
			</div>
		</div>

		<form role="form" th:action="@{/pais/salvar}" method="POST" th:object="${parent}">
			
			<th:block th:include="fragments/messageErrorValidation"></th:block>
						
			<div class="col-md-2">
				<div class="form-group">
					<label>Código</label>
					<input class="form-control" name="id" th:field="*{id}" readonly="readonly"/>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<label>Nome do Responsável</label>
					<input class="form-control" placeholder="Digite o nome do Responsável" type="text" th:field="*{name}">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label>CPF</label>
					<input class="form-control cpf" id="cpf" placeholder="Digite o CPF" type="text" th:field="*{cpf}">
				</div>
			</div>
			<div class="col-md-8">
				<div class="form-group">
					<label>Endereço</label>
					<input class="form-control" placeholder="Rua Exemplo, 123" type="text" th:field="*{address}">
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label>Cidade</label>
					<input class="form-control" placeholder="Digite a cidade" type="text" th:field="*{city}">
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<label>E-mail</label>
					<input class="form-control" placeholder="email@exemple.com" type="email" th:field="*{email}">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label>Telefone</label>
					<input class="form-control telephone" id="telephone" placeholder="Digite o telefone" type="text" th:field="*{telephones}">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label>Telefone de Emergência</label>
					<input class="form-control telephone" id="telephoneContact" placeholder="Digite o telefone de emergência" type="text" th:field="*{telephonesContact}">
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<label>Responsável Autorizado</label>
					<label class="radio-inline">
						<input class="resposibleOption" type="radio" th:field="*{statusResponsible}" id="optionsRadiosInline1" value="TRUE">Sim
					</label>
					<label class="radio-inline">
						<input class="resposibleOption" type="radio" th:field="*{statusResponsible}" id="optionsRadiosInline2" value="FALSE">Não
					</label>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<label>Nome do responsável</label>
					<input class="form-control" placeholder="Digite o nome do responsável" id="responsible" type="text" th:field="*{responsible}" disabled="disabled">
				</div>
			</div>

			<div class="col-md-12 text-right">
				<button type="submit" class="btn btn-primary">Salvar</button>
				<button type="reset" class="btn btn-danger">Cancelar</button>
			</div>
		</form>
		<br /><br />
		<div class="clearfix"></div>
		<div th:replace="layout/footer::footer"></div>
	</div>
</body>
</html>