<!doctype html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout-padrao}">

<head></head>

<body>
	
	<div id="page-wrapper" layout:fragment="content">
	
		<br /><br />

		<div class="row">
			<div class="col-lg-6 col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<img th:src="@{/img/icons/queen_icon.png}" style="border-radius: 5px 5px 5px 5px;" />
							</div>
						</div>
					</div>
					<a th:href="@{/pais/listar}">
						<div class="panel-footer">
							<span class="pull-left">Pais</span> <span
								class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
							<div class="clearfix"></div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="panel panel-green">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<img th:src="@{/img/icons/baby-child-kid-toddler_113286.png}" />
							</div>
						</div>
					</div>
					<a th:href="@{/criancas/listar}">
						<div class="panel-footer">
							<span class="pull-left">Crianças</span> <span
								class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
							<div class="clearfix"></div>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div th:replace="layout/footer::footer"></div>
	</div>

</body>
</html>