<!doctype html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout-padrao}">

<head></head>

<body>

	<div id="page-wrapper" layout:fragment="content">

		<br />

		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">Crianças</a></li>
			<li class="breadcrumb-item active">Cadastro</li>
		</ol>
		
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-10"></div>
				<div class="col-md-2">
					<a class="btn btn-primary" th:href="@{/criancas/listar}">
						<i class="fa fa-list-alt"></i>
						<span class="hidden-xs hidden-sm">Listar</span>
					</a>
				</div>
			</div>
		</div>
		
		<form role="form" th:action="@{/criancas/salvar}" th:object="${children}" method="POST">
			
			<th:block th:include="fragments/messageErrorValidation"></th:block>

			<div class="col-md-2">
				<div class="form-group">
					<label>Código</label>
					<input class="form-control" name="id" th:field="*{id}" readonly="readonly"/>
				</div>
			</div>
				
			<div class="col-md-12">
				<div class="form-group">
					<label>Nome do Responsável</label>
					<select th:field="*{parent.id}" class="form-control" id="autocompletePais" style="display: none;" name="parent.name">
						<option value="">-- Selecione o nome --</option>
						<option th:each="p : ${parents}" th:value="${p.id}" th:text="${p.name}" data-nome="${p.name}"></option>
					</select> 
				</div>
			</div>
			<div class="col-md-9">
				<div class="form-group">
					<label>Nome da criança</label>
					<input class="form-control" placeholder="Digite o nome da criança" name="name" type="text" th:field="*{name}">
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label>Data de Nascimento</label>
					<input class="form-control date" id="date" name="dateBirth" type="text" th:field="*{dateBirth}">
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<label>Tem Alergia?</label>
					<label class="radio-inline">
						<input type="radio" class="allergy" th:field="*{allergy}" id="optionsAllergy1" value="TRUE">Sim
					</label>
					<label class="radio-inline">
						<input type="radio" class="allergy" th:field="*{allergy}" id="optionsAllergy2" value="FALSE">Não
					</label>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<input class="form-control" id="allergyDescription" placeholder="Qual o tipo de alergia?" name="allergyDescription" type="text" th:field="*{allergyDescription}" disabled="disabled">
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<label>Alimentação</label>
					<input class="form-control" placeholder="Tipo de Alimentação" type="text" name="food" th:field="*{food}">
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<label>Restrição Alimentar?</label>
					<label class="radio-inline">
						<input type="radio" class="foodRestriction" th:field="*{foodRestriction}" id="optionsFoodRestriction1" value="TRUE">Sim
					</label>
					<label class="radio-inline">
						<input type="radio" class="foodRestriction" th:field="*{foodRestriction}" id="optionsFoodRestriction2" value="FALSE">Não
					</label>
				</div>
			</div>
			
			<div class="col-md-12">
				<div class="form-group">
					<input class="form-control" id="foodRestriction" placeholder="Qual o tipo de restrição?" name="foodRestrictionDescription" type="text" th:field="*{foodRestrictionDescription}" disabled="disabled">
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<label>Observação:</label>
					<input class="form-control" name="observation" type="text" th:field="*{observation}">
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<label>Permitir uso da imagem para divulgação e propagandas da Toka da Coruja?</label>
					<label class="radio-inline">
						<input type="radio" th:field="*{publicity}" id="optionsRadiosInline1" value="TRUE">Sim
					</label>
					<label class="radio-inline">
						<input type="radio" th:field="*{publicity}" id="optionsRadiosInline2" value="FALSE">Não
					</label>
				</div>
			</div>
			
			<div class="col-md-12 text-right">
	        	<button type="submit" class="btn btn-primary">Salvar</button>
    	        <button type="reset" class="btn btn-danger">Cancelar</button>
            </div>
		</form>
        <br /><br />
		<div class="clearfix"></div>
		<div th:replace="layout/footer::footer"></div>
	</div>
</body>
</html>


