<!doctype html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout-padrao}">

<head></head>

<body>

	<div id="page-wrapper" layout:fragment="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<h3 class="page-header">Lista de crianças</h3>
				</div>
				<table class="table">
					<thead class="thead-light">
						<tr>
							<th scope="col">Código</th>
							<th scope="col">Nome</th>
							<th scope="col">Ações</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="c : ${childrens}">
							<th scope="row" th:text="${c.id}"></th>
							<td th:text="${c.name}"></td>
							<td><a th:href="@{/criancas}"><i class="fa fa-pencil fa-fw"></i></a> <a href="#"><i class="fa fa-close fa-fw"></i></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</body>
</html>
        